 .u-section-1 {
  background-image: none;
  min-height: 1028px;
}

.u-section-1 .u-image-1 {
  height: 618px;
  margin-top: 197px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 618px;
  margin-top: -618px;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 838px;
  margin-top: -623px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: 995px;
  margin-top: -1210px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -381px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: -238px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -424px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -196px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -430px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -497px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}