 .u-section-1 {
  background-image: linear-gradient(#00a14b, #025e15);
}

.u-section-1 .u-sheet-1 {
  min-height: 822px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-image-1 {
  width: 328px;
  height: 153px;
  margin: 43px 61px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 328px;
  height: 152px;
  margin: -152px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-image: linear-gradient(#3af290, #00ab50);
  margin: 0 61px 0 auto;
  padding: 0 79px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-image: linear-gradient(#3af290, #00ab50);
  margin: -114px auto 60px;
  padding: 0 35px 0 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 44px;
    margin-right: 98px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -153px;
    margin-left: 142px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1px;
    margin-right: 98px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -115px;
    margin-left: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 351px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -487px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 337px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -451px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -436px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 284px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -398px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 338px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -474px;
    margin-left: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 322px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -436px;
    margin-left: 0;
  }
}