 .u-section-1 {
  background-image: none;
  min-height: 1198px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  height: 618px;
  margin-top: 192px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 37px;
  margin: 51px auto 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 697px;
}

.u-section-2 .u-group-1 {
  width: 405px;
  height: auto;
  background-image: linear-gradient(#c0c0c0, #999999);
  --radius: 20px;
  min-height: 81px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-2 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: 18px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 46px;
  height: 46px;
  margin: -46px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 46px;
  height: 46px;
  margin: -46px 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-group-2 {
  --radius: 10px;
  height: 81px;
  width: 405px;
  background-image: linear-gradient(var(--custom-color-3), var(--custom-color-3));
  box-shadow: 2px 2px 8px 0px rgba(var(--custom-color-3-r),var(--custom-color-3-g),var(--custom-color-3-b),1);
  min-height: 81px;
  margin: -81px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 4px 12px;
}

.u-section-2 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: 0 311px -23px 0;
}

.u-section-2 .u-text-1 {
  margin: -60px 20px -19px 88px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 904px;
  --radius: 10px;
  height: auto;
  background-image: linear-gradient(#009d51, #005a2e);
  min-height: 362px;
  margin: 79px auto 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-2 .u-slider-1 {
  min-height: 375px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 41px;
  height: 67px;
  margin: 154px auto 0 10px;
}

.u-section-2 .u-image-3 {
  width: 413px;
  height: 413px;
  background-image: url("images/Untitled507_20230915164113.png");
  background-position: 50% 50%;
  margin: -266px auto 0 -20px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: -279px 95px 0 303px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -230px 184px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 40px;
  height: 67px;
  margin: 82px 10px 43px auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 300px;
  height: 300px;
  background-image: url("images/mal.png");
  background-position: 50% 50%;
  margin: 30px auto 0 81px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -300px 88px 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 17px 88px 0 388px;
}

.u-section-2 .u-image-6 {
  width: 40px;
  height: 67px;
  margin: -43px 10px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 41px;
  height: 67px;
  margin: -67px auto 0 10px;
}

.u-section-2 .u-container-layout-6 {
  padding: 13px 0;
}

.u-section-2 .u-image-8 {
  width: 166px;
  height: 300px;
  margin: 0 auto 0 71px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -262px 99px 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 18px 95px 0 312px;
}

.u-section-2 .u-image-9 {
  width: 41px;
  height: 67px;
  margin: -65px auto 0 0;
}

.u-section-2 .u-image-10 {
  width: 40px;
  height: 67px;
  margin: -67px 10px 25px auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 66px;
  height: 66px;
  left: 0;
  position: absolute;
  right: auto;
  padding: 0;
}

.u-section-2 .u-carousel-control-2 {
  width: 66px;
  height: 66px;
  left: auto;
  position: absolute;
  right: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -280px;
    margin-right: 69px;
    margin-left: 278px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -208px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 87px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -308px;
    margin-right: 79px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 26px;
    margin-right: 100px;
    margin-left: 398px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -80px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-image-8 {
    height: 299px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -271px;
    margin-right: 97px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 30px;
    margin-right: 104px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -67px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-10 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    width: 720px;
  }

  .u-section-2 .u-image-3 {
    margin-left: -95px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -284px;
    margin-right: 70px;
    margin-left: 248px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -280px;
    margin-right: 101px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 88px;
  }

  .u-section-2 .u-image-5 {
    width: 194px;
    height: 194px;
    margin-top: 91px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -232px;
    margin-right: 56px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 19px;
    margin-right: 80px;
    margin-left: 274px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -95px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-8 {
    margin-top: 17px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -267px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 79px;
    margin-left: 243px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 218px;
    margin-left: -30px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -388px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 434px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 184px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -295px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -313px;
    margin-right: 76px;
    margin-left: 211px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: -385px;
    margin-right: 103px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 139px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 120px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: -229px;
    margin-right: 39px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 22px;
    margin-right: 63px;
    margin-left: 268px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -148px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 36px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: -299px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 214px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -38px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -67px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -314px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 89px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 6px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 7px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 684px;
    margin-top: 152px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 5px 6px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 569px;
    height: auto;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 251px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-3 {
    width: 178px;
    height: 178px;
    margin-top: -318px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-3 {
    width: 231px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -388px;
    margin-right: 18px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 50px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-5 {
    width: 108px;
    height: 108px;
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 30px;
    margin-right: -6px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-6 {
    width: 195px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-6 {
    margin-top: -199px;
    margin-right: 11px;
  }

  .u-section-2 .u-image-8 {
    width: 67px;
    height: 121px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 16px;
    margin-right: 76px;
    margin-left: 78px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -243px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}