 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  height: 388px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin: -273px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 6.25em;
}

.u-section-1 .u-btn-2 {
  margin: -160px auto 0 calc(((100% - 1140px) / 2) + 305px);
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 6.25em;
}

.u-section-1 .u-icon-3 {
  font-size: 6.25em;
  height: 99px;
  width: 99px;
  margin: -129px calc(((100% - 1140px) / 2) + 306px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: ABeeZee;
  font-weight: 700;
  margin: 177px 134px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: -274px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: calc(((100% - 940px) / 2) + 206px);
  }

  .u-section-1 .u-icon-3 {
    font-size: 6.25rem;
    margin-right: calc(((100% - 940px) / 2) + 207px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 176px;
    margin-right: calc(((100% - 940px) / 2) + -32px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    width: 44px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 720px) / 2) + 139px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 161px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 540px) / 2) + 42px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 176px;
    margin-right: calc(((100% - 540px) / 2) + -62px);
    margin-left: calc(((100% - 540px) / 2) + -38px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 290px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -225px;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 207px;
    margin-left: auto;
    margin-right: auto;
  }
}